<!DOCTYPE html>
<html>
<head>
    <title>Health.io</title>
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
    </style>
    <link rel="stylesheet" href="home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body> 
    <div class="title">
        <h1>Health.io</h1>
        <p>By</p>
        <p> Datta, Dhanush and Pranjal</p>
    </div>
  
  <form action="/userRead" method="GET">
    <input id="ipt" type="text" placeholder="Search User" name="UserId">
    <button id="search">Search</button>
</form>

<table>
    <tr>
       <th>Patient Id</th>
       <th>Heart Rate</th>
       <th>Blood Oxygen Levels(in %)</th>
       <th>Body Temperature</th>
       <th>Time Of Record</th>
       <th>Condition Of the Patient</th>
    </tr>
 
    <% for (var i = 0; i < allReadings.length; i++) { %>
     <tr>
       <td><%= allReadings[i].UserId%></td>
       <td><%= allReadings[i].RestingHeartRate%></td>
       <td><%= allReadings[i].BloodOxygenSaturation %></td>
       <td><%= allReadings[i].BodyTemperature %></td>
       <td><%= allReadings[i].timeStamp %></td>
       <td><%= allReadings[i].condition %></td>
     </tr>    
    <% } %>
 </table>




</body>
</html>