<!DOCTYPE html>
<html>
<head>
    <title>Helth.io</title>
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body> 
  <p>Helth.io</p>
  
  <form action="/userRead" method="GET">
    <input id="ipt" type="text" placeholder="Search User" name="UserId">
    <button id="search">Search</button>
</form>

<table>
    <tr>
       <th>Patient id</th><th>HeartRate</th><th>BloodOxygen</th><th>BodyTemperature</th><th>timeStamp</th>
    </tr>
 
    <% for (var i = 0; i < allReadings.length; i++) { %>
     <tr>
       <td><%= allReadings[i].UserId%></td>
       <td><%= allReadings[i].RestingHeartRate%></td>
       <td><%= allReadings[i].BloodOxygenSaturation %></td>
       <td><%= allReadings[i].BodyTemperature %></td>
       <td><%= allReadings[i].timeStamp %></td>
     </tr>    
    <% } %>
 </table>




</body>
</html>